<header>
  <nav style="display: flex; justify-content: space-between; align-items: center;">
    {% if user.is_authenticated %}
      <div style="display: flex; justify-content: center; align-items: center; height: 50px;">
        <a href="{% url 'search_game' %}" style="margin-right: 10px;">Gfinder</a>
      </div>
      <div>
        <a href="{% url 'user_profile_page' %}"><p style="margin-right: 20px;">{{ user.username }}</p></a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Выход из профиля</button>
        </form>
      </div>
    {% else %}
      <div style="display: flex; align-items: center;">
        <a href="{% url 'search_game' %}" style="margin-right: 20px;">Gfinder</a>
      </div>
      <div>
        <a href="{% url 'user_login' %}">Войти</a> или <a href="{% url 'user_registration' %}">Регистрация</a>
      </div>
    {% endif %}
    </nav>
</header>
