{% extends "base.html" %}

{% block title %}Об Игре{% endblock %}

{% block content %}
  <body>
  <h1>Об Игре</h1>
  <p>Название игры: {{ game.name }}</p>
  {% if game.new_price %}
    <p>Цена игры: {{ game.old_price }} / {{ game.new_price }}</p>
  {% else %}
    <p>Цена игры: {{ game.old_price }}</p>
  {% endif %}
  <p>Ссылка на игру: <a href="{{ game.url }}">{{ game.url }}</a></p>
  {% if request.user.is_authenticated %}
    {% if not added_to_favorites %}
      <form action="{% url 'add_to_favorite' pk=game.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Добавить в избранное</button>
      </form>
    {% else %}
      <p>Игра в списокe избранного.</p>
      <form action="{% url 'delete_favorite' pk=game.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить из избранного</button>
      </form>
    {% endif %}
  {% endif %}
  </body>
{% endblock %}